:root {
  --bg: #0f0f0f;
  --card: #1a1a1a;
  --accent: #85ff66;
  --text: #eaeaea;
  --border: #2a2a2a;
}

body {
  background: var(--bg);
  color: var(--text);
  margin: 0;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  padding: 20px;
  background: var(--card);
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  border: 1px solid var(--border);
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
  background: linear-gradient(90deg, #9dff7c, #79db4c);
  -webkit-background-clip: text;
  color: transparent;
}

.label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.fileInput {
  width: 95%;
  padding: 14px;
  border-radius: 12px;
  background: #111;
  border: 1px solid var(--border);
  color: var(--text);
  cursor: pointer;
  transition: 0.2s;
}

.fileInput:hover {
  border-color: var(--accent);
}

.urlBox {
  width: 100%;
  height: 120px;
  padding: 12px;
  border-radius: 12px;
  background: #111;
  border: 1px solid var(--border);
  color: var(--accent);
  font-size: 14px;
  resize: none;
}

.urlBox:focus {
  outline: none;
  border-color: var(--accent);
}

.copyBtn {
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: var(--accent);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.15s;
}

.copyBtn:hover {
  filter: brightness(1.1);
}


footer {
  text-align: center;
  color: #c9f1a4;
  padding: 1.2rem 0;
  font-size: 1rem;
  letter-spacing: 0.05em;
  margin-top: 2rem;
}


.social-icons {
    display: flex;
    gap: 1rem;
    margin-bottom: 5%;
    justify-content: center;
}

.social-icons a {
    font-size: 1.5rem;
    color: #fff;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #adf98e;
}
